.row{
    border: 2px solid #00397c;
}

.panel-header{
    background-color: #00397c;
    color: #ffffff;
}

.panel-body
{
    background-color: #ffffff;
    overflow-y: scroll;
    height: 500px;
}

.panel-footer{
    border-top: 2px solid #00397c;
}

.input-group{
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

.left-chat{
    text-align: left;
    border-bottom: 2px solid #00397c;
}

.right-chat{
    text-align: right;
    border-bottom: 2px solid #00397c;
}

ul {
    list-style-type: none;
}