{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row ">
        <div class="col panel-header">
            <h1 class="text-center font-weight-bold">Chatbot</h1>
        </div>
        <div class="w-100"></div>
        <div class="col panel-body">
            <ul class="chat">
            </ul>
        </div>
        <div class="w-100"></div>
        <div class="col panel-footer">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Spurðu mig um hvað sem er...">
                <div class="input-group-append">
                    <button id="button-send" class="btn btn-primary" type="button">Send</button>
                    <button id="button-clear" class="btn btn-info" type="button">Clear</button>
                    <button id="button-record" class="btn btn-danger" type="button">Record</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}